{% extends "base.html" %}



{% block content %}
<div class="row mb-2">

  {% for project in projects %}

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><strong class="d-inline-block mb-2  text-success"> {{ project.title }}</strong></h3>
          <div class="mb-1 text-muted">{{ project.created_at|date:"M d, Y" }}</div>
          <p class="card-text mb-auto">{{ project.summary|linebreaks }}</p>
          <a href="{% url 'show_project' id=project.id %}" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>

  {% endfor %}


{% endblock %}
